:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #929292;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  height: 50px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


/* styles.css */
.SliderRoot {
	position: relative;
	display: flex;
	align-items: center;
}
.SliderRoot[data-orientation="vertical"] {
	flex-direction: column;
	width: 20px;
	height: 100px;
}
.SliderRoot[data-orientation="horizontal"] {
	flex-direction: row;
	width: 200px;
	height: 20px;
}

.SliderTrack {
	position: relative;
	flex-grow: 1;
	background-color: rgb(194, 194, 194);
}
.SliderTrack[data-orientation="vertical"] {
	width: 3px;
}
.SliderTrack[data-orientation="horizontal"] {
	height: 3px;
}

.SliderRange {
	position: absolute;
	/* background-color: black; */
  background-color: #ff5924;
}
.SliderRange[data-orientation="vertical"] {
	width: 100%;
}
.SliderRange[data-orientation="horizontal"] {
	height: 100%;
}

.SliderThumb {
	display: block;
	width: 20px;
	height: 20px;
  border-radius: 50%;
	background-color:  rgb(235, 234, 234);
}
